<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" integrity="sha256-6ZFIKt0ohcBorQWIruhlYBoADBIFrJuXtEJsjFxb2Wk=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Poker Night in America</title>

</head>
<body>

{% for hand in poker_hands %}

<div class="columns">
    <div class="column">
        Start time: {{hand.starting_time}}
    </div>
</div>

{% endfor %}

</body>
</html>
