<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" integrity="sha256-6ZFIKt0ohcBorQWIruhlYBoADBIFrJuXtEJsjFxb2Wk=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Poker Night in America</title>

<style>
.board-cards{
    border: solid 1px black;
}

.player-box{
    border: solid 1px black;
}

.diams {
    color: #00f;
}
.hearts {
    color: #f00;
}
.spades {
    color: #000;
}
.clubs {
    color: #090;
}
</style>

</head>
<body>

{% macro display_definitions(definitions) %}
    <ul>
        {% for def, value in definitions %}
            <li><strong>{{def}}: </strong>{{value}}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% for hand in poker_hands %}

<div class="columns">
    <div class="info_hand">
        <div class="hand"><div class="label_hand">Hand Number</div><div class="value_hand">{{hand.number}}</div></div>
        <div class="date"><div class="label_date">Date</div><div class="value_date">Value</div></div>
        <div class="name"><div class="label_name">Name of Sheet Imported</div><div class="value_name">Value</div></div>
        <div class="start"><div class="label_start">Hand Start Time</div><div class="value_start">{{hand.starting_time}}</div></div>
        <div class="end"><div class="label_end">Hand End Time</div><div class="value_end">{{hand.ending_time}}</div></div>
        <div class="duration"><div class="label_duration">Duration of Hand</div><div class="value_duration">Value</div></div>
    </div>


    <div class="cards_community">
        {% if hand.has_flop %}
            <div class="cards_flop">
                <div class="commcard">{{ hand.flop[0] | display_card }}</div>
                <div class="commcard">{{ hand.flop[1] | display_card }}</div>
                <div class="commcard">{{ hand.flop[2] | display_card }}</div>
                <div class="label_flop">Flop</div>
            </div>
            {% if hand.has_turn %}
                <div class="cards_turn">
                    <div class="commcard">{{ hand.flop[3] | display_card }}</div>
                    <div class="label_turn">Turn</div>
                </div>
                {% if hand.has_river %}
                    <div clas="cards_river">
                        <div class="commcard">{{ hand.flop[4] | display_card }}</div>
                        <div class="label_river">River</div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div class="info_blinds">
        <div class="bb"><div class="label_bb">Big Blind Amount</div><div class="value_bb">{{hand.big_blind}}</div></div>
        <div class="sb"><div class="label_sb">Small Blind Amount</div><div class="value_sb">{{hand.small_blind}}</div></div>
        <div class="ante"><div class="label_ante">Ante Amount</div><div class="value_ante">{{hand.ante}}</div></div>
    </div>

</div>

{% macro display_player(player) %}

    <div class="p{{player.index}}">
        <div class="player">{{player.index}}</div>
        <div class="name">{{player.name}}</div>
        <div class="chips_start">{{player.starting_stack}}</div>
        <div class="chips_end">{{player.ending_stack}}</div>
        <div class="card ah">{{player.pocket[0]|display_card}}</div>
        <div class="card ah">{{player.pocket[1]|display_card}}</div>
        <div class="player_dealer">{{hand.dealer == player.index}}</div>
        <div class="player_not_sb">{{hand.small_blind_player == player.index}}</div>
        <div class="player_not_bb">{{hand.big_blind_player == player.index}}</div>
        <div class="straddle">{{player.straddle}}</div>
        <div class="player_winner">{{player.hand_winner}}</div>
    </div>
{% endmacro %}

<div class="columns info_players">
    {% for player in hand.players[:5] %}
        {{display_player(player)}}
    {% endfor %}
</div>
<div class="columns info_players">
    {% for player in hand.players[5:] %}
        {{display_player(player)}}
    {% endfor %}
</div>
<div class="columns events-list">
<table>
    <thead>
        <tr><th>Time</th><th>Action</th><th>Pot</th>
            {% for p in hand.taking_part %}
                <th>{{p.index}}</th>
            {% endfor %}
            </tr>
    </thead>
    <tbody>
        {% for event in hand.events if event.display %}
            {% if event.display %}
                <tr>
                    <td>{{event.starting_time}}</td>
                    <td>
                        {% if event.bold %}
                            <strong>{{event.description}}</strong>
                        {% else %}
                            {{event.description}}
                        {% endif %}
                    </td>
                    <td>{{event.pot}}</td>
                    {% if event.win_probabilities %}
                        {% for p in hand.taking_part %}
                            <td>{{event.win_probabilities.get(p.index, "-")}}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

{% endfor %}

</body>
</html>
