<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css" integrity="sha256-6ZFIKt0ohcBorQWIruhlYBoADBIFrJuXtEJsjFxb2Wk=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Poker Night in America</title>

<style>
.board-cards{
    border: solid 1px black;
}

.player-box{
    border: solid 1px black;
}

.diams {
    color: #00f;
}
.hearts {
    color: #f00;
}
.spades {
    color: #000;
}
.clubs {
    color: #090;
}
</style>

</head>
<body>

{% macro display_definitions(definitions) %}
    <ul>
        {% for def, value in definitions %}
            <li><strong>{{def}}: </strong>{{value}}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% for hand in poker_hands %}

<div class="columns">
    <div class="column">
        {{ display_definitions([('Start time', hand.starting_time),
                                ('End time', hand.ending_time),
                                ('Number', hand.number)]) }}
    </div>
    <div class="column board-cards playingCards">
        {% for card in hand.flop %}
            {{ card | display_card }}
        {% endfor %}
    </div>
    <div class="column">
        {{ display_definitions([('Small Blind', hand.small_blind),
                                ('Big Blind', hand.big_blind),
                                ('Ante', hand.ante)]) }}
    </div>
</div>

{% macro display_player(player) %}
    <div class="column player-box">
        <ul>
            <li><strong>Name:</strong> {{ player.name }} </li>
            <li><strong>Winner:</strong> {{ player.hand_winner }}</li>
            <li><strong>Straddle:</strong> {{ player.straddle }}</li>
            <li><strong>Cards:</strong> {{ player.pocket|display_pocket }}</li>
            <li><strong>Starting stack:</strong> {{ player.starting_stack }}</li>
            <li><strong>Ending stack:</strong> {{ player.ending_stack}}</li>
        </ul>
    </div>
{% endmacro %}

<div class="columns">
    {% for player in hand.players[:5] %}
        {{display_player(player)}}
    {% endfor %}
</div>
<div class="columns">
    {% for player in hand.players[5:] %}
        {{display_player(player)}}
    {% endfor %}
</div>
<div class="columns events-list">
<table>
    <thead>
        <tr><th>Time</th><th>Action</th><th>Pot</th>
            {% for p in hand.taking_part %}
                <th>{{p.index}}</th>
            {% endfor %}
            </tr>
    </thead>
    <tbody>
        {% for event in hand.events if event.display %}
            {% if event.display %}
                <tr>
                    <td>{{event.starting_time}}</td>
                    <td>
                        {% if event.bold %}
                            <strong>{{event.description}}</strong>
                        {% else %}
                            {{event.description}}
                        {% endif %}
                    </td>
                    <td>{{event.pot}}</td>
                    {% if event.win_probabilities %}
                        {% for p in hand.taking_part %}
                            <td>{{event.win_probabilities.get(p.index, "-")}}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

{% endfor %}

</body>
</html>
